

body {
	margin: 0;
}

.main-title-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}



.main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.0em;
	font-weight: 800;
	color: #222;
	background: #fff;
	letter-spacing: 0.08em;
	width: 100%;
	padding: 0.5em 1.2em;
	gap: 10px;
	font-size: 2em;
}



.routeitem-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.routename-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7em;
	font-weight: 700;
	color: #fff; /* 文字色を白に変更 */
	background-color: #1976d2; /* 背景色を追加 */
	letter-spacing: 0.08em;
	width: 100%;
	padding: 0.5em 1.2em;
	margin-bottom: 0.5em; /* 下余白 */
	pointer-events: none;
}


.logo-link-inline {
	display: flex;
	align-items: center;
	pointer-events: auto;
}

.logo-img-inline {
	margin-top: 0.5ex;
	width: 48px;
	height: auto;
}


.divider {
	border: none;
	height: 4px;
	background-color: black;
	margin: 20px auto 40px auto;
	width: 90%;
}

.station-list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-bottom: 20px;
	text-align: left;
	align-items: center;
}

.station-item, .station-item-no {
	display: flex;
	align-items: center;
	font-size: 1.2em;
	box-sizing: border-box;
	width: 30%
}




.subtitle-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.0em;
}


/* .btn-link {
	display: inline-block;
	background: #fff;
	color: #1976d2;
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.1em;
	box-shadow: 0 2px 8px #0001;
	transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

	.btn-link:hover, .btn-link:focus {
		background: #1976d2;
		color: #fff;
		box-shadow: 0 4px 16px #1976d233;
		border: 1.5px solid #1976d2;
		outline: none;
	}: */

.btn-link {
	display: flex; /* フレックスで中身（色箱とテキスト）を配置 */
	align-items: center;
	background: #fff;
	color: #000;
	padding: 1em;
	width: 100%; /* 親要素の幅に合わせる */
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	border-radius: 8px;
	box-sizing: border-box;
	text-align: left; /* テキストは左寄せ */
}







.color-box {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	pointer-events: none;
}
/* 各路線の色 */
.otebashi {
	background-color: #8B0000;
}
/* 濃い赤 */
.takaido {
	background-color: #FFB6FF;
}
/* ピンク */
.shincho {
	background-color: #F08080;
}
/* 薄い赤 */
.dairoku {
	background-color: #FF8C00;
}
/* オレンジ */
.akayamacho {
	background-color: #006400;
}
/* 深緑 */
.daidoji {
	background-color: #3B5998;
}
/* 青 */

.mukkaichi {
	background-color: #e0e0e0;
}
/* グレー*/
.daishi {
	background-color: #555;
}
/* 濃いグレー*/

a {
	color: inherit;
	text-decoration: none;
}

/* Google Fonts */
.wf-mplus1 {
	font-family: "M PLUS 1", sans-serif;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.extrabold {
	font-weight: 800;
}

.black {
	font-weight: 900;
}

